.panel-map-wrapper {
    width: 100%;
    height: 100%;
}

.panel-map-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left;
}

.panel-map-backoff {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: #999;
}
